@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a tag</h2>

<h4>Add a tag to this Machine: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select tag")
    @Html.DropDownList("TagId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Add a Tag", "AddTag", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
