@{
  Layout = "_Layout";
}


@model Factory.Models.Engineer

<div>
<h2>Machine Assignment</h2>

<h4>Add a machine to this Engineer's skill set: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Engineer list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
