@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<div>
<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3>
<h3>@Html.DisplayNameFor(model => model.EngineerDetails): @Html.DisplayFor(model => model.EngineerDetails)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>No machines have been added to this engineer's skill set</p>
}
else
{
  <h4>This engineer can work on the following machines:</h4>
  <ul>
  @foreach(EngineerMachine join in Model.JoinEntities)
  {
    <li>Machine: @join.Machine.MachineName</li>
    @using (Html.BeginForm("DeleteJoin", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("View Engineer list", "Index")</p>
<p>@Html.ActionLink("Add a Machine to this Engineer's skill set", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
</div>
