@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div>
<h2>Edit</h2>

<h4>Edit this engineer: @Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.LabelFor(model => model.EngineerDetails)
    @Html.EditorFor(model => model.EngineerDetails)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to engineer list", "Index")</p>
<p>@Html.ActionLink("Add machine to Engineer's skill set", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
